# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Streamlit logs
*.log

# CSV logs
local_version/access_log_local.csv
cloud_version/access_log_cloud.csv

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
